* {box-sizing: border-box;}
body {
  background-color: rgba(234,241,221,1);
}

a {
  text-decoration: unset;
  color: rgb(46,139,88);
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

a:hover {
  color: rgb(111, 177, 140);
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.wrapper > div {
  border: 2px solid rgb(46,139,88);
  border-radius: 5px;
  background-color: rgba(255,255,255,1);
  padding: 1em;
  color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
/*   grid-auto-rows: minmax(100px, 50px); */
}

.logo {
  grid-column: 1 / 2;
  grid-row: 1;
  height : 70px;
  text-align: center;
  padding: 13px !important;
}

.nav { 
  grid-column: 2 / 7;
  grid-row: 1 ;
  height : 70px;
  padding-top: 25px !important;
}

.mail {
  grid-column: 7 / 8;
  grid-row: 1;
  height : 70px;
}

#baner {
  grid-column: 1 / 8;
  grid-row: 2 ;
  height : 150px;
  background-color: rgba(117, 146, 60, 0.8);
}

.why {
  grid-column: 2 / 7;
  grid-row: 3;
  text-align : center;
}

.whyContent {
  grid-column: 2 / 7;
  grid-row: 4;
  height : auto;
}

.whatIsThis{
  grid-column: 2 / 7;
  grid-row: 5;
  text-align : center;
}

.whatIsThisContent{
  grid-column: 2 / 7;
  grid-row: 6;
  height : auto;
  display: none;
}

.weAct{
  grid-column: 2 / 7;
  grid-row: 7;
  text-align : center;
}

.weActContent{
  grid-column: 2 / 7;
  grid-row: 8;
  height : auto;
  display: none;
}

.ozon{
  grid-column: 2 / 7;
  grid-row: 9;
  text-align : center;
}

.ozonContent{
  grid-column: 2 / 7;
  grid-row: 10;
  height : auto;
}

.mapa {
  grid-column: 2 / 7;
  grid-row: 11;
  height : 300px;
}

#mapid {
  /* height: 300px;
  width: 500px; */
  height: 100%;
  width: 100%;
}

.priceList {
  grid-column: 2 / 7;
  grid-row: 12;
  height : auto;
  text-align : center;
}

#selectService {
  grid-column: 2 / 7;
  grid-row: 13;
  height : 150px;
  background-color: rgb(194, 214,154, 0.8);
  /* background-color: black; */
}

.blog {
  grid-column: 2 / 7;
  grid-row: 14;
  height : auto;
  text-align : center;
}

.blogContent {
  grid-column: 2 / 7;
  grid-row: 15;
  height : 150px;
  text-align : center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

#box1 {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(117, 146, 60, 1);
  /* height: 100px; */
}

#box2 {
  grid-column: 3;
  grid-row: 1;
  background-color: rgba(117, 146, 60, 1);
}

#box3 {
  grid-column: 5;
  grid-row: 1;
  background-color: rgba(117, 146, 60, 1);
}

#box4 {
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(117, 146, 60, 1);
}

#box5 {
  grid-column: 4;
  grid-row: 2;
  background-color: rgba(117, 146, 60, 1);
}

#box6 {
  grid-column: 1;
  grid-row: 3;
  background-color: rgba(117, 146, 60, 1);
}

#box7 {
  grid-column: 3;
  grid-row: 3;
  background-color: rgba(117, 146, 60, 1);
}

#box8 {
  grid-column: 5;
  grid-row: 3;
  background-color: rgba(117, 146, 60, 1);
}

.footerLogoLeft {
  grid-column: 1 / 2;
  grid-row: 16;
  height : 70px;
  text-align: center;
  padding: 13px !important;
}

.footerNav { 
  grid-column: 2 / 7;
  grid-row: 16 ;
  height : 70px;
  padding-top: 25px !important;
}

.footerLogoRight {
  grid-column: 7 / 8;
  grid-row: 16;
  height : 70px;
  text-align: center;
  padding: 13px  !important;
}

#blogList {
  grid-column: 2 / 7;
  grid-row: 3 / 16;
  /* border: 2px solid red; */
  /* width: auto; */
  /* height:300px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2px;
}

#blogImage1{
  grid-column: 1 / 1;
  grid-row: 1;
  height : 50px;
  background-color: rgba(117, 146, 60, 1);
}

#blogTitle1{
  grid-column: 2 / 7;
  grid-row: 1;
  height : 50px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
}

#blogText1{
  grid-column: 1 / 7;
  grid-row: 2;
}

#blogImage2{
  grid-column: 1 / 1;
  grid-row: 3;
  height : 50px;
  background-color: rgba(117, 146, 60, 1);
}

#blogTitle2{
  grid-column: 2 / 7;
  grid-row: 3;
  height : 50px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
}

#blogText2{
  grid-column: 1 / 7;
  grid-row: 4;
}

#blogImage3{
  grid-column: 1 / 1;
  grid-row: 5;
  height : 50px;
  background-color: rgba(117, 146, 60, 1);
}

#blogTitle3{
  grid-column: 2 / 7;
  grid-row: 5;
  height : 50px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
}

#blogText3{
  grid-column: 1 / 7;
  grid-row: 6;
}











@media (max-width: 600px){
  a {
    font-size: 11px;
  }
  .why {
    grid-column: 1 / 8;
  }
  .whyContent {
    grid-column: 1 / 8;
  }
  .whatIsThis{
    grid-column: 1 / 8;
  }
  .whatIsThisContent{
    grid-column: 1 / 8;
  }
  .weAct{
    grid-column: 1 / 8;
  }
  .weActContent{
    grid-column: 1 / 8;
  }
  .ozon{
    grid-column: 1 / 8;
  }
  .ozonContent{
    grid-column: 1 / 8;
  }
  .mapa {
    grid-column: 1 / 8;
    height : 200px;
  }
  .priceList {
    grid-column: 1 / 8;
  }
  #selectService {
    grid-column: 1 / 8;
    height : 130px;
  }
  .blog {
    grid-column: 1 / 8;
  }
  .blogContent {
    grid-column: 1 / 8;
    height : 120px;
  }
  #blogList {
    grid-column: 1 / 8;
  }
}


@media (max-width: 360px){
  a {
    font-size: 7px;
  }
}